#if ($target.outputFileExists())
#cancel("File exists")
#end
package ${target.javaPackageFromFolder(${SRC})};

import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.Setter;
import jakarta.persistence.*;
import jakarta.validation.*;
import br.org.curitiba.ici.saude.common.*;
import ${ROOT_PKG}.*;

#set($getAttributes = [])

#foreach ($attribute in $entity.attributes)
    #if ($attribute.hasTag('web') && $attribute.tagValue('web').contains('get'))
      #if ($getAttributes.add($attribute))
      #end
    #end
#end
#set($Q = '"')

#if ( $getAttributes.isEmpty())
#cancel("No class for generate")
#end

@NoArgsConstructor
@Data
public class ${entity.name}Response {
#foreach( $attribute in $getAttributes )
#if	( $attribute.hasTag('typeValues') )
  private $attribute.name.replace('id', '')Type $attribute.name; 
#else
  private $attribute.formattedWrapperType(10) $attribute.name #if($attribute.hasInitialValue())= ${attribute.ini} #end;
#end
#end	

}
